<div class='patterns-logo'>
  <%= link_to image_tag("patterns/タツノオトシゴのアイコン素材.png", class:"patterns-top-logo1"), patterns_path %>
  <%= link_to image_tag("patterns/pattern.png", class:"patterns-top-logo2"), patterns_path %>
</div>